<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-3 ">{{title}}</h1>
    <p class="lead">Simply Note taking App.</p>
    <p>Jot down your idea as a note</p>
    <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">Add note</a>
</div>